@charset "utf-8";

/*利用するタグによってこちらの内容は増やす*/
html,
body,
h1,
h2,
h3,
h4,
h5,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}



ul {
    display: flex;
    justify-content: spase-between;
    list-style: none;
    margin: 0;
}

li {
    padding: 0 10px;
}

.wrap { 
    display: flex;
    justify-content: spase-between;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
}

.wrap div {
    width: 30%;
    /* height: 300px; */
    aspect-ratio: 1/1;
    background: red;
    text-align: center;
    margin-bottom: 20px;
    /* line-height: 300px; */
}

.wrap div:first-child{
    height: 50px;
}

@media screen and (max-width:767px) {
   .wrap{
      display: block;
   } 
}

    .wrap div {
    width: auto;
 }